<form class="example-form"  [formGroup]="frm"  novalidate>
  <mat-checkbox  formControlName="taxesIncluded">Taxes Included</mat-checkbox>
  <div style="display: inline;padding-left: 15px;" *ngIf="!settings.taxesIncluded">
  <mat-form-field>
      <input matInput placeholder="Tax (%)"  formControlName="taxes">
  </mat-form-field>
</div>
  <br />
  <mat-checkbox *ngIf="!item.taxesIncluded" formControlName="taxesOnFinallPrice">Taxes on Final Price</mat-checkbox>
  <div style="margin-top: 15px;">
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
  </div>
  <div>
    <mat-form-field>
      <input matInput [placeholder]="item.taxesOnFinallPrice || item.taxesIncluded? 'Price' : 'Original Price'"  formControlName="price">
    </mat-form-field>
  </div>
  <div *ngIf="!item.taxesOnFinallPrice && !item.taxesIncluded">
    <mat-form-field>
      <input matInput placeholder="Discounted Price"  formControlName="discountedPrice">
    </mat-form-field>
  </div>
  <div>
    <mat-chip-list  *ngIf="!item.taxesIncluded">
      <mat-chip disabled>Taxes: </mat-chip>
      <mat-chip disabled>Final Price: </mat-chip>
    </mat-chip-list>
  </div>
  <mat-form-field>
    <input matInput placeholder="Shipping Costs"  formControlName="shipping">
  </mat-form-field>
  <mat-chip-list>
    <span><b>Fees:</b></span>
    <mat-chip  color="accent" ><b>Ebay:</b> </mat-chip>
    <mat-chip  color="accent" ><b>PayPal:</b> </mat-chip>
  </mat-chip-list>
  <br />
  <div>
    No Profit Listing: 
  </div>
  <mat-form-field>
      <input matInput placeholder="Ebay Listing Price"  formControlName="listingPrice">
    </mat-form-field>
    <br />
    <div>
      Loss/Gain: 
    </div>
</form>

